
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body {
    animation: gradientAnimation 10s infinite;
    background: linear-gradient(45deg, #3498db, #2ecc71, #3498db, #2ecc71);
    background-size: 400% 400%;
  }

